.tarjet {
  width: 260px;
  height: 236px;
  border-radius: 5px;
}

.supName {
  width: 195px;
  height: 69px;
  background: #4f4f4f;
  border-radius: 5px 0px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #f2f2f2;
}

.supImage {
  width: 65px;
  height: 69px;
  border-radius: 0px 5px 0px 0px;
  margin-left: -50%;
}

.walk {
  width: 65px;
  height: 44px;
  background: #f2f2f2;
  border-radius: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #4f4f4f;
}

.transp {
  width: 65px;
  height: 44px;
  background: #f2f2f2;
  border-radius: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #4f4f4f;
}

.drive {
  width: 65px;
  height: 44px;
  background: #e0e0e0;
  border-radius: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #4f4f4f;
}

.circle {
  width: 65px;
  height: 44px;
  background: #e0e0e0;
  border-radius: 0px;
}

.centerImage {
  width: 130px;
  height: 70px;
  background: rgba(196, 196, 196, 0.3);
  background: #e0e0e0;
  border-radius: 0px;
}

.infoData {
  width: 131px;
  height: 70px;
  background: #f2f2f2;
  border-radius: 0px;
}

.grade {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #4f4f4f;
}

.detailsGrade {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #4f4f4f;
}

.btnInfo {
  width: 137px;
  height: 41px;
  border: 1px solid #19cad0;
  box-sizing: border-box;
  border-radius: 100px;
}

.footerTarjet {
  height: 53px;
  background-color: #ffffff;
}

.textButton {
  font-family: Roboto Mono;
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4f4f4f;
}

.likeButton {
  width: 38px;
  height: 38px;
  background: #ffffff;
  border: 0.75px solid #000000;
  box-sizing: border-box;
  border-radius: 100px;
}

.iconheart {
  width: 38px;
  height: 38px;
}
